
body
{
    height: 100%;
    background-image: url(/images/bg-img.png);
    filter: opacity(1);
    color: #112A46;
    background-repeat: no-repeat;
    background-size: cover;
}

.app-container
{
    display: flex; flex-direction: column; gap: 4px;
    align-items: stretch;

}

.navbar-container
{
    display: flex; flex-direction: row; gap: 4px;
    justify-content: center; align-items: stretch; align-content: stretch;
    min-width: 128px; background-color: lightpink;
}

.view-container
{
    display: flex; flex-direction: column; gap: 4px; flex-grow: 5;
    padding: 8px;
}

.main-heading
{
    font-size: 82px;

}

.navbar-button
{
    background-color: gray; font-size: 32px;
}

.navbar-button-selected
{
    background-color: aquamarine;
}

.products-container
{
    display: flex; flex-direction: row; flex-wrap: wrap;
    gap: 32px; justify-content: space-evenly;
    margin: 8px; padding: 32px;
    overflow-y: scroll;
}

.product-card
{
    display: flex; flex-direction: column; align-items: center;
    gap: 8px;
    padding: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(200,200,200,0.5);
}

.backto-home-btn
{

    width: 188px;
    background-color: #e67e22;
    border-radius: 50px;
    color: white;
    border: none;
    height: 44px;

}

.product-pic
{
    font-size: 128px;
}

.main-img
{
    width: 50%;
    height: 600px;
    display: float;
    float: right;
}

.browse-btn
{
    font-size: 22px;
    width: 212px;
    display: flex;
    justify-content: center;
    background-color: #e67e22;
    border-radius: 50px;
    color: white;
    border: none;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
    height: 44px;
    align-items: center;

}

.home-desc
{
    font-size: 34px;
    width: 994px;
    font-weight: 300;
    margin-top: 0%;
    color: #112A46;
}

.why-sec-main-heading
{
    color: #e67e22;
}

.why-desc
{
    color : #cf711f;
    width: 800px;
}

.why-sec-heading
{
    color: #e67e22;
    font-weight: bold;
}

.why-sec-desc
{
    color : #cf711f;
}

/* List all prod */
.detail-view-checkout
{
    background-color: #e67e22;
    border-radius: 50px;
    color: white;
    border: none;
    height: 34px;
    width: 104px;
    align-items: center;
}
.detail-view-btn
{
    background-color: #e67e22;
    border-radius: 50px;
    color: white;
    border: none;
    height: 24px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
}

/* Deals */

.deal-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deal-heading{
    margin :0%;
}

.deal-desc
{
    font-size: 32px;
}

.deal-btn
{
    font-size: 32px;
    /* font-weight: bold; */
    background-color: #e67e22;
    border-radius: 50px;
    color: white;
    border: none;
    width: 462px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
}

.deal-backhome-btn
{
    width: 142px;
    margin-top: 12px;
    background-color: #e67e22;
    border-radius: 50px;
    color: white;
    border: none;
    height: 24px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);

}
/* checkout */

.checkout-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.checkout-desc
{

    font-size: 32px;

}

.paynow-btn
{

    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 18px;
    background-color: #e67e22;
    border-radius: 50px;
    color: white;
    border: none;
    width: 154px;
    height: 34px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);

}

.buy-now
{
    background-color: #e67e22;
    border-radius: 50px;
    color: white;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
    border : none;

}
.add-to-cart-btn
{
    background-color: #eb8b36;
    border-radius: 50px;
    color: white;
    border: none;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
}
/* thankyou */

.thankyou-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-container
{

   background-repeat: no-repeat;
   background-size: contain;

}

.add-to-cart
{
    display: flex;
    column-gap: 12px;
}

#checkoutTableId, #checkoutTableId th, #checkoutTableId td
{
    border: 3px solid gray;
    font-size: 28px;
}

.prod-backto-home-btn{
    background-color: #e67e22;
    border-radius: 50px;
    color: white;
    border: none;

}