
body{
    height: 100%;
    /* background-image: url(fruit-pic.png); */
    background-image: url(/images/bg-img.png);
    /* background: url(background-photo.jpg) center center cover no-repeat fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* background-color: #fdf2e9;; */


}
.app-container
{
    display: flex; flex-direction: column; gap: 4px;
    align-items: stretch;
    padding: 8px;
    /* background-image: url(MicrosoftTeams-image\ \(5\).png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh; */



    }

.navbar-container
{
    display: flex; flex-direction: row; gap: 4px;
    justify-content: center; align-items: stretch; align-content: stretch;
    min-width: 128px; background-color: lightpink;
}

.view-container
{
    display: flex; flex-direction: column; gap: 4px; flex-grow: 5;
    padding: 8px;
     /* background-color: yellow; */
}

.main-heading{
    font-size: 82px;
    /* color: rgb(245, 93, 76); */
    color: #e67e22;
    /* lightcoral */
    margin-top: 2%;
    /* color: seagreen; */

}

.navbar-button
{
    background-color: gray; font-size: 32px;
}
.navbar-button-selected
{
    background-color: aquamarine;
}

.products-container
{
    display: flex; flex-direction: row; flex-wrap: wrap;
    gap: 32px; justify-content: space-evenly;
    margin: 8px; padding: 32px;
     /* border: 2px solid blue;  */
    overflow-y: scroll;
}

.product-card
{
    display: flex; flex-direction: column; align-items: center;
    gap: 8px;
    padding: 8px;
    /* border: 1px solid seagreen; */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.backto-home-btn{

    width: 188px;
}

.product-pic{
    font-size: 128px;
}

.main-img{
    width: 50%;
    height: 600px;
    display: float;
    float: right;
    /* justify-content: flex-end; */


}

.browse-btn{
    font-size: 22px;
    width: 200px;
    display: flex;
    /* justify-items: center; */
    /* background-color:  rgb(245, 93, 76); */
    background-color: #e67e22;
    color: white;
    border: none;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
    /* border-radius:55px; */
    height: 36px;
    align-items: center;
}

.home-desc{
    font-size: 44px;
    width: 994px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: 300;
    margin-top: 0%;
    /* color: rgb(245, 97, 97); */
    /* color: green; */
    color: #eb984e;
   /* color : #cf711f; */
}

.why-sec-main-heading
{
    color: #e67e22;
}
.why-desc
{
    color : #cf711f;
    width: 800px;
}
.why-sec-heading
{
    color: #e67e22;
    font-weight: bold;
}
.why-sec-desc
{
    color : #cf711f;
}

/* Deals */

.deal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deal-heading{
    margin :0%;
}
.deal-desc{
    font-size: 32px;
}
.deal-btn{
    font-size: 32px;
    font-weight: bold;
}
.deal-backhome-btn{
    width: 142px;
    margin-top: 12px;

}
/* checkout */

.checkout-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.checkout-desc{
    /* display: flex;
    justify-content: center; */
    font-size: 32px;

}
.paynow-btn{

    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 24px;

}
/* thankyou */

.thankyou-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.home-container{

   background-repeat: no-repeat;
   background-size: contain;
   height: 100vh;
}
.add-to-cart{
    display: flex;
    column-gap: 12px;
}

#checkoutTableId, #checkoutTableId th, #checkoutTableId td
{
    border: 3px solid gray;
    font-size: 28px;
}